<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мое Портфолио</title>
    {% load static %}  <!-- Загружаем тег static -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Теперь тег static будет работать -->
</head>
<body>

<header>
    <h1>Добро пожаловать в мое портфолио!</h1>
</header>

<section>
    <h2>О себе</h2>
    <p>Здравствуйте! Меня зовут Видади  и я — веб-разработчик. Я специализируюсь на создании красивых и функциональных веб-сайтов с использованием современных технологий, таких как Django и JavaScript.</p>
    <p>В этом портфолио вы найдете примеры моих работ и проектов. Я всегда открыт для новых идей и интересных задач. Если у вас есть проект, для которого нужен разработчик, не стесняйтесь связаться со мной!</p>
</section>

</body>
</html>
